body {
    margin-top: 70px;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Poppins;
}

p {
    font-family: Roboto;
}

.navbar-default {
    background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}

#employer1 h1,
#employer2 h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#employer1 img,
#employer2 img {
    width:90%;
    /* margin-left: 60px; */
    max-height: 400px;
}

#employer1 .employer-right,
#employer2 .employer-right {
    margin-top: 90px;
}

#employers, #projects {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#employers p,
#projects p {
    font-size: 30px;
    font-family: "Josefin Sans";
    color: #000;
}

#employers p.customer,
#projects p.customer {
    font-size: 20px;
    color: #666;
}

#info1 .info-right {
    margin-top: 90px;
}

#info2 {
    margin: 20px 0 60px 0;
}

#contact {
    background: url(../img/image3.png);
    padding: 40px;
    color: #fff;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
}

footer {
    padding: 30px;
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
    background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #24252A;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.5);
	border-radius: 3px 3px 0 0;
}

.md-content > .md-content-inner > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

.md-content-inner {
	max-height: 80vh;
    overflow-y: auto;
}

.md-content-inner a {
    color: #0088a9;
	text-decoration: underline;
}

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cta button {
    /* margin-left: 20px; */
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#project .container .row {
    height: 600px;
    padding: 20px;
}

#project .container .row div {
    height: 100%;
    text-align: center;
}

#project .container .row div h2 {
    margin-bottom: 30px;
    height: 60px;
}

#project .container .row div div {
    margin: 5px;
    padding: 15px;
}

#project img {
    width: 90%;
    height: 40%;
    object-fit: contain;
}

#project a {
    width: 100%;
}